*{
    box-sizing: border-box;
}
body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(33, 32, 32);

}
.menu {
    background-color: antiquewhite;
    height: 5rem;
    
}
.filas{
    padding-left: 8%;
    width: 100%;
    padding-right: 6%;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.footer{
    margin: 23px;
    font-size: 15px;
    color: aliceblue;
}
.card{
   
    background-color: rgba(245, 245, 245, 0.148);
    color:whitesmoke

}
.btn{
 
    background-color: rgba(255, 255, 255, 0.439);
    color: black;
    border: transparent;
}
.btn:hover{
    background-color: white;
    color: black;
}
.slider{
    height: 5rem;
    background-color: aqua;
    font-family: "Amaranth", sans-serif;
}

.text{
    text-align: center;
    color: aliceblue;
    padding: 2%;
    font-family: "Amaranth", sans-serif;
}
.texts{
    margin: 10px;
    color: aliceblue;
}
.caja1{
    height: 15rem;
    background-color: blue;
}
.caja2{
    height: 15rem;
    background-color: aquamarine;
}
.caja3{
    height: 15rem;
    background-color: blue
}
.caja4{
    height: 15rem;
    background-color: aquamarine;
}

.cajita1{
    height: 15rem;
    background-color: violet;
}
.cajita2{
    height: 15rem;
    background-color: blueviolet;
}
.cajita3{
    height: 15rem;
    background-color: violet;
}
.cajita4{
    height: 15rem;
    background-color: blueviolet;
}
.nav{
    color: rgba(255, 255, 255, 0.776);
    padding: 5px;
    font-size: 25px;
    text-decoration: none;
}

h2{
    font-size: 23px;
}